html {
  background-color: #1e2229;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0 auto;
  width: 100%;
  max-width: 150ch;
  padding: 1rem;
  line-height: 1.5;
  color: #ffffffb7;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0 0;
  font-size: 4.0rem;
  color: #ffc582;
  font-family: monospace;
}

h2 {
  margin-bottom: .25rem;
  font-size: 1.8rem;
  font-weight: lighter;
  
}

hr {
	border-width: .15rem;
	border-style: solid;
	border-radius: .2rem;
  margin: 0;
}

ul {
  list-style-type: none; 
  padding: 0 1rem; 
  margin: 0; 
}

li {
  padding: 1rem .5rem 0 0;
}

a {
  text-decoration: underline;
  color: #ffffffb7;
}

nav {
  margin-left: 0;
}


.hamburger {
  padding-left: 1.4rem;
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  color:#ffc582;
}

.index-blog-links a:hover {
  background-color: rgba(219, 151, 125, 0.24);
}

.index-blog-links a {
  font-size: 1.5rem;
  padding: .4rem .7rem;
}

.nav-links {
  width: 100%;
  top: 5rem;
  display: none;
}

.nav-links a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-links a:hover {
  border-radius: .3rem;
  background-color: rgba(219, 151, 125, 0.24);
}

.expanded {
  display: unset;
}

.below-header {
  padding-left: .65rem;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 0rem;
    display: block;
    position: static;
    width: auto;
  }

  .nav-links a {
    display: inline-block;
    padding: .4rem .7rem;
  }

  .hamburger {
    display: none;
  }
}