<div class="nav-links">
  <a href="/">Home</a>
  <a href="https://github.com/kbs-code" target="_blank" rel="noreferrer">My Github</a>
  <a href="https://twitter.com/_kbsx" target="_blank" rel="noreferrer">My Twitter</a>
</div>
